<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="PCP Fincance calculator is an online tool to calculate your monthly payments as well as the cost of the finance for your car." />
    <title>@ViewData["Title"] - PCP Finance Calculator</title>
    <link rel=icon href="~/images/favicon.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/minty/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/custom.min.css" />

    @RenderSection("Meta", required: false)
    <meta property="og:image" content="https://pcpfinancecalculator.co.uk/images/favicon.jpg" />
    <meta property="og:type" content="website" />
    <meta name="google-site-verification" content="7p27SdJ3L0lJpDyJzYM028rw-aCXy8C2o1cTiSj4SOI" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-15355714-5', 'pcpfinancecalculator.co.uk');
        ga('send', 'pageview');
    </script>
</head>
<body>
    @Html.Partial("Partials/Social/_SocialScripts")
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" asp-page="/Index">PCP Finance Calculator</a>
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-page="/Index">Home <span class="sr-only">(current)</span></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            
            <div class="col-md-10 col-sm-12">
                <h1 class="page-header">@ViewData["PageHeader"]</h1>
                @Html.Partial("Partials/Ads/_ResponsiveBanner")
                <div class="product-social-links">
                    <span>
                        @Html.Partial("Partials/Social/_Facebook")
                    </span>
                    <span>
                        @Html.Partial("Partials/Social/_Twitter")
                    </span>
                    <span>
                        @Html.Partial("Partials/Social/_Whatsapp")
                    </span>
                    <span>
                        @Html.Partial("Partials/Social/_Email")
                    </span>

                </div>
                <br />
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="d-none d-md-block">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12">                
                @RenderBody()                
            </div>
            <div class="col-md-2 col-sm-12">
                @Html.Partial("Partials/Ads/_FullSidebar")
            </div>
        </div>
        
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - pcpfinancecalculator.co.uk</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
